a.btn-primary {
    background-color: #005a9c;
    border-color: #ffffff;
}

a.btn-success {
    background-color: #009933;
    border-color: #009933;
}

#changemove {
    background-color: #005a9c;
    color: white;
}
a.selected {
    background-color: #448eb7;
}

div.PhotoGlove {
    background-color: #00a7ba;
    border-color: #00a7ba;
    color: white;
    margin-top: 15px
}

div.priceBlock {
	display: inline-block;
	vertical-align: top;
	height: 250px;
}

.button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009933;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 7px #999;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

body {
    background-color: #555555 !important;
}

#logoGlove {
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-top: 70px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 15px;
}

#ford-logo {
    width:1140px;
}

#mapGlove {
    margin-top: 15px;
}